os:
  - linux
  - osx

language: go

go:
  - 1.12.x
  - 1.13.x
  - 1.14.x
  - 1.15.x
  - 1.16.x

script: make test

deploy:
  provider: script
  script: make publish VERSION=$TRAVIS_TAG
  on:
    tags: true
